<!-- ./views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express with EJS and Tailwind</title>
  <link href="/stylesheets/output.css" rel="stylesheet">
</head>
<body class="bg-black">
      <h1 class="text-slate-100 text-center text-3xl underline my-2">Login / Sign-up Page</h1>
  </div>
</body>
</html>
