<!-- ./views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express with EJS and Tailwind</title>
  <link href="/stylesheets/output.css" rel="stylesheet">
</head>
<body class="bg-slate-300">
      <h1 class="text-neutral-950 text-center font-semibold md:text-4xl underline my-2 sm:text-2xl">Sign-up Page</h1>
  </div>
<form action="/create" method="post"></form>
</body>
</html>
